{% extends 'fundraiser_app/base.html' %}
{% block content %}
    {% load static %}


{#<link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">#}
{#<div class="mapouter">      {# google map #}
        <div class="gmap_canvas">
{#            <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen#}
{#src="https://www.google.com/maps/embed/v1/view?zoom=17&center=52.4471%2C16.8892&key=AIzaSyCQjFdauroyKpg0VVV9oCX9Uu88rXs48IY"></iframe>#}
        <iframe width="100%" height="400" id="gmap_canvas" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=52.4471%2C16.8892&key=AIzaSyCQjFdauroyKpg0VVV9oCX9Uu88rXs48IY">
{#        </iframe><a href="https://putlocker-is.org"></a><br>#}
{#        <style>#}
{#            .mapouter{position:center;text-align:center;height:200px;width:100%;}#}
{#            .gmap_canvas {overflow:hidden;background:none!important;height:200px;width:100%;}#}
{#        </style>#}
        </div>
    </div>

{% endblock %}