<ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ user.first_name }}
            <ul class="dropdown">
              <li><a href="{% url 'user_profile' %}">Profil</a></li>
              <li><a href="{% url 'update_user' %}">Ustawienia</a></li>
              <li><a href='{% url 'logout' %}'>Wyloguj</a></li>
              {% if user.is_superuser %}
                 <li><a href="/admin/" class="btn btn--without-border">Admin</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>